{%extends 'events/base.html'%} {%load staticfiles%}{%block content%}
<div class="row">
	<div class="col-xs-12 text-center">
		<h3>Here's the changes we've made to the website recently</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-3 text-center">
		Website Update Made At
	</div>
	<div class="col-md-4 text-center">
		Description
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-3">
		30 January 2017
	</div>
	<div class="col-md-8">
		Added this page and a page listing changes made to events.
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-3">
		28 January 2017
	</div>
	<div class="col-md-8">
		We went live.
	</div>
</div>
{%endblock%}
